body{
background-image:url("../images/shrek-scary.jpg");
}
   .container{
            display:flex;
            flex-direction:column;
gap:20px;
align-items:center;
justify-content:center;
padding-top:20%;
        }

form{
display:flex;
flex-direction:column;
gap:10px;
}

ul{
color:red;
margin:0;
text-align:left;
}
