<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
<meta name="viewport" content="width = device-width, initial-scale=1">    
<link rel="stylesheet" href="../static/style/button_style.css">
    <link rel="stylesheet" href="../static/style/login_style.css">
</head>
<body>
<div class="container">
  <form method="post">
    <input name="username" type="text" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <button class="button-4" type="submit">Login</button>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
</body>
</html>
